.container {
  background-color: #fff;
  width: 100vw;

  display: flex;
  flex-direction: column;
}
.first {
  display: flex;
  background-color: #629637;
  padding: 1.8vw 10vw;
}
.heading {
  color: #ffffff;
  font-family: "Oswald", sans-serif;

  font-weight: 700;
  line-height: 3vw;
  width: 50vw;
}
.heading h2 {
  font-size: 2.5vw;
}

.emailInput {
  margin: auto auto;
  width: 50vw;
  padding-right: 1vw;
  padding-left: 7vw;
}
.second {
  background-color: #192733;
}
.secondHeading h3 {
  text-align: center;
  font-size: 5.27vw;
  color: #fff;
  margin-top: 2.5vw;
  margin-bottom: 0vw;
}

.secondContent {
  text-align: center;
  color: #fff;
}
.spanText {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 0 23vw;
  flex-wrap: wrap;
}
.spanText span {
  font-size: 1vw;
}
.anchor {
  text-decoration: none;
  color: #fff;
}
.secondIcons {
  text-align: center;
  color: #fff;
  padding-top: 2.5vw;
}
.icons span {
  padding: 0 2vw;
}
.privacy {
  text-align: center;
  color: #fff;
  padding-bottom: 3vw;
}
.privacy h6 {
  font-size: 14px;
}
.privacy h4 {
  text-decoration: underline;
}
@media screen and (max-width: 1022px) {
  .first {
    padding: 2.5vw 2vw;
  }
  .heading {
    line-height: 4vw;
  }
  .heading h2 {
    font-size: 30px;
  }
  .secondHeading {
    margin-top: 5.5vw;
    margin-bottom: 2vw;
  }
  .spanText {
    padding: 0 10vw;
  }
  .spanText span {
    font-size: 16px;
  }
  .secondIcons {
    margin-top: 2.5vw;
  }
  .privacy {
    padding-bottom: 3vw;
  }
}

@media screen and (max-width: 766px) {
  .first {
    flex-direction: column;
    padding: 4vw;
  }
  .heading {
    width: 100%;
  }
  .emailInput {
    width: 100%;
    padding-left: 0vw;
  }
  .spanText {
    padding: 0 4vw;
  }
  .spanText span {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .first {
    flex-direction: column;
    padding: 4vw;
  }
  .heading {
    width: 100%;
  }
  .heading h2 {
    line-height: 8vw;
  }
  .emailInput {
    width: 100%;
    /* width: 100%; */
    /* padding-left: 0vw; */
  }
}
