.container {
  width: 100vw;
  height: 80vh;
  background-color: #ffffff;
  display: flex;
}
.container H1 {
  padding-top: 0.13vw;
  padding-top: 8vw;
  padding-left: 10vw;

  color: #192733;
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 1vw;
}
.femaleBear {
  margin-left: 10vw;
}

.input {
  width: 50vw;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 4px 0;
  margin-left: 5.2vw;
  outline: none;
  padding: 0.91vw;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputWithButton {
  position: relative;
  height: 13.02vw;
  width: 32.55vw;
  padding-left: 10vw;
}

.inputWithButton input {
  width: 90%;
  height: 3.125vw;
  padding-right: 8.125vw;
  border-radius: 0.325vw;
  border-color: #ffffff;
  box-shadow: 1px 1px 1px rgb(229, 223, 223);
}

.inputWithButton Button {
  position: absolute;
  right: -5.2vw;
  top: 0.325vw;
  height: 2.929vw;
  border-radius: 0.65vw;
  border: none;
  box-shadow: 0 0 0.65vw rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #ffffff;
  font-size: 1.04vw;
  font-weight: 700;
  padding: 0.65vw 1.953vw;
  background-color: #bf2434;
}
.inputWithButton input::placeholder {
  font: 20px/3 sans-serif;
  padding-left: 1.3vw;
}
.container H3 {
  padding-left: 10vw;
  padding-top: 0.1vw;
  margin-bottom: 0.1vw;
  margin-top: -1.953vw;

  color: #372733;
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: 500;
}
.container H3 span {
  font-weight: 600;
}
