.container {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  padding: 5vw 6vw;
}
.left {
  width: 40vw;
}
.left h2 {
  padding-top: 4vw;
  color: #192733;
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
  font-weight: 700;
  line-height: 3.8vw;
}
.left h3 {
  color: #372733;
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: 500;
  margin-top: -1vw;
}
.container h3 span {
  font-weight: 600;
}
.femaleBear {
  margin: auto;
}

@media screen and (max-width: 1022px) {
  .container {
    flex-direction: column;
    padding: 3vw 6vw;
  }
  .left {
    width: 100vw;
  }
  .left h2 {
    font-size: 4vw;
  }
  .left h3 {
    font-size: 1.7vw;
  }
  .femaleBear {
    margin-top: 2px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 3vw 3vw;
  }
  .left h2 {
    font-size: 5vw;
  }
  .left h3 {
    font-size: 3vw;
  }
}
