.container {
  min-width: 100vw;
  min-height: auto;
  padding-top: 0.001vw;

  background-color: #f9f9fa;
}
.leftSide {
  width: 65vw;
}
.heading {
  text-align: center;
  padding-top: 2vw;
}
.heading H1 {
  font-size: 32px;
  font-family: "Fjalla One", sans-serif;
  padding-top: 3vw;
}
.heading p {
  padding-left: 8vw;
  padding-right: 5vw;
  text-align: left;
}

.inputWithButton {
  position: relative;
  height: 13.02vw;
  width: 60.55vw;
  padding-left: 8vw;
}

.inputWithButton input {
  width: 90%;
  height: 3.425vw;
  padding-right: 11.5vw;
  border-radius: 0.325vw;
  border-color: #ffffff;
  box-shadow: 1px 1px 1px rgb(229, 223, 223);
}

.inputWithButton button {
  position: absolute;
  right: 0.8vw;
  top: 0.259vw;
  height: 2.929vw;
  border-radius: 0.65vw;
  border: none;
  box-shadow: 0 0 0.65vw rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #ffffff;
  font-size: 1.04vw;
  font-weight: 700;
  padding: 0.65vw 1.953vw;
  background-color: #bf2434;
}
.inputWithButton input::placeholder {
  font: 20px/3 sans-serif;
  padding-left: 1.3vw;
}
.table {
  margin-top: -5vw;
  margin-left: -2vw;
  width: 72vw;
}

.newsContent {
  border: 1px solid #bf2434;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 2vw;
  padding-top: 1vw;
  height: 4vw;
}
.paginaton {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  margin-left: 8vw;
}
.containers {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
