.container {
  padding: 0vw 3vw;
}
.container h2 {
  text-align: center;
  font-size: 3vw;
}

.contactBody {
  background: #fff;
  display: flex;
  margin: 2vw 6vw;
}
.leftBody {
  width: 50vw;
}
.rightBody {
  width: 50vw;
}
.leftCard {
  width: 28vw;
  text-align: center;
  background-color: #fff;
  /* position: absolute; */
  /* margin-top: 5vw; */
  margin: 3vw auto;
  box-shadow: 0 2px 4px #cfc6c6;
}
.leftCard h3 {
  padding-top: 3vw;
}
.leftCard p {
  font-size: 1vw;
  padding: 2vw;
}
.leftCard button {
  width: 25vw;
  font-size: 24px;
  background-color: #fff;
  margin-bottom: 2vw;
  padding: 5px 8px;
}
.leftCard button:hover {
  background-color: #000;
  color: #fff;
}
.rightCard {
  width: 28vw;
  text-align: center;
  background-color: #fff;
  /* position: absolute; */
  /* margin-top: 5vw; */
  margin: 3vw auto;
  box-shadow: 0 2px 4px #cfc6c6;
}
.rightCard h3 {
  padding-top: 3vw;
}
.rightCard p {
  font-size: 1vw;
  padding: 2vw;
}
.rightCard button {
  width: 25vw;
  font-size: 24px;
  background-color: #fff;
  margin-bottom: 2vw;
  padding: 5px 8px;
}
.rightCard button:hover {
  background-color: #000;
  color: #fff;
}
