.mainNav {
  background: #f9f9fa;
  display: flex;
  justify-content: space-between;
  padding: 1vw 6vw;
}
.mainNav h6 {
  font-size: 3.25vw;
  margin: 0;
  color: #192733;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.mainNav ul {
  display: flex;
}

.mainNav ul li {
  margin: 0 1.56vw;
  font-weight: 600;
  list-style: none;
  font-size: 1.43vw;
  color: #192733;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}
.mainNav ul li Button {
  border-radius: 0.65vw;
  border: none;
  box-shadow: 0 0 0.65vw rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #ffffff;
  font-size: 1.04vw;
  font-weight: 700;
  padding: 0.65vw 1.953vw;
  background-color: #bf2434;
}
.anchor {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
  position: absolute;
  /* top: 50%; */
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

@media only screen and (max-width: 850px) {
  .hamburger {
    display: block;
  }

  .navigationMenu ul {
    display: none;
  }
  .navigationMenu.expanded ul {
    display: block;
  }
  .navigationMenu.expanded {
    display: relative;
  }
  .navigationMenu ul {
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;

    top: 60px;
    left: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 100%;

    background-color: rgb(232, 212, 212);
    border-top: 1px solid black;
  }
  .navigationMenu li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }
  .navigationMenu li a {
    color: black;
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigationMenu li:hover {
    background-color: #eee;
  }
}
