.container {
  background-color: #f9f9fa;
  padding: 3vw 6vw;
  font-family: "Oswald";
}

.mainHeading {
  text-align: center;
  font-size: 3vw;
}
.middle {
  display: flex;
  padding: 3vw 5vw;
}
.left {
  width: 50%;
  text-align: right;
  padding-right: 5vw;

  font-size: 4vw;
}
/* .left img {
  
  width: 22vw;
} */
/* .right img {
  height: auto;
  width: 22vw;
} */
.right {
  width: 50%;
  text-align: left;
  padding-left: 5vw;
  /* padding-top: 3vw; */
  font-size: 4vw;
}

@media screen and (max-width: 768px) {
  .middle {
    flex-direction: column;
  }
  .left {
    width: 100%;
    display: flex;

    justify-content: center;
  }
  .left img {
    width: 50vw;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0vw;

    /* padding-left: 5vw; */
    /* padding-top: 3vw; */
    font-size: 4vw;
  }
  .right img {
    width: 50vw;
  }
}
