.container {
  background-color: #f9f9fa;
  padding: 3vw 6vw;
  font-family: "Oswald";
}

.mainHeading {
  text-align: center;
  font-size: 3vw;
}
.middle {
  display: flex;
  padding: 3vw 5vw;
}
.left {
  width: 50%;
  text-align: right;
  padding-right: 5vw;

  font-size: 4vw;
}
.left img {
  height: auto;
  width: 22vw;
}
.right img {
  height: auto;
  width: 22vw;
}
.right {
  width: 50%;
  text-align: left;
  padding-left: 5vw;
  /* padding-top: 3vw; */
  font-size: 4vw;
}
.down {
  text-align: center;
  padding-top: 9vw;
  color: #000000;
}
